<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Ticket Web Appscds{% endblock %}</title>
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎟️</text></svg>">

  <script src="https://cdn.tailwindcss.com"></script>
  
  <style>
    #root {
  max-width: 1440px;
  margin: 0 auto;
  /* text-align: center; */
}
    /* Custom animations */
    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(-10px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .animate-fadeIn {
      animation: fadeIn 0.5s ease-out;
    }

    .no-underline {
      text-decoration: none;
    }
  </style>
</head>
<body class=" max-w-[1440px] mx-auto">
  <div class="app-container min-h-screen">
    {% block content %}{% endblock %}
  </div>
  {% include './components/footer.twig' %}
</body>
</html>