{# This is the base twig file, extend it from other twig files #}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Twig Starter Template{% endblock %}</title>
        {% block styles %}
            <link rel="stylesheet" href="styles.css">
        {% endblock %}
    </head>

    <body>
        {% block content %}
            {# Main content goes here from extended templates #}
            
        {% endblock %}
        
        {% block scripts %}
            <script src="script.js"></script>
        {% endblock %}
    </body>
</html>
