{# This is the dashboard template, extend it from the base template #}
{% extends "base.twig" %}

{% block title %}{{title}}{% endblock %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="dashboard.css">
{% endblock %}

{% block content %}
    <main class="min-h-screen flex flex-col items-center justify-center">
        <h1 class="text-7xl font-bold ">Dashboard</h1>
        <p>I don't know what to add as templates, sha manage this one</p>
    </main>
{% endblock %}

{% block scripts %}
    {{parent()}}
        {# Import or write javascript directly inhere #}
        {# <script src="script.js"></script> #}
{% endblock %}
